body {
  background-color: #EFEFEF;
  color: #0d3d56;
  font-family: 'Rubik', sans-serif
}
.navbar-default {
  background-image: none;
  background-color: rgba(240, 240, 240, 0.55)
}

/*navbar text color*/
#bs-example-navbar-collapse-1 a {
  color: #4084a5;
}
#navbarwhole {
  border-bottom: 0px dashed white;
  box-shadow: 1px 1px 40px #888
}
a.navbar-brand img {
  width: 150px;
  margin-top: -10px;
}

#frontpage-image {
  height: 100%;
  background-image: url(http://s6.postimg.org/55u3xjfcx/IMG_0669.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 9em;
  margin-bottom: 0em
}
@media screen and (orientation:portrait) {
  #frontpage-image {
    background-image: url(https://s6.postimg.org/5eoxf7yip/IMG_0664.jpg);
    padding-top: 9em
  }
}
.row-centered {
  text-align: center
}
/*frontPage text, learning chinese easy etc*/
#frontpage-image h1 {
  font-size: 60pt;
  color: #0d3d56;
  font-family: 'Rubik', sans-serif
}
#frontpage-image h2 {
  font-size: 30pt;
  color: #0d3d56;
  font-family: 'Rubik', sans-serif
}

#frontpage-main-text {
  /*padding-top: 200px;
  padding-bottom: 200px;*/
  text-align: center;
  
}
#frontpage-main-text h1 {
  /*add some space for formatting*ǎěǔǚ*/
  margin-top: 10%;
  font-size: 40px;

}

/*fronpage scroll*/
#frontpagescroll a {
  padding-top: 80px;
}
#scrollbarspan{
bottom: 55px;
}
#frontpagescroll a span {
  position: fixed;
  /*margin-top: 65%;*/
 
  
  right: 70px;
  
  width: 30px;
  height: 30px;
  margin-left: -12px;
  border-left: 3px solid #eee;
  border-bottom: 3px solid #eee;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#frontpagescroll a span:nth-of-type(1) {
  bottom: 65px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#frontpagescroll a span:nth-of-type(2) {
  bottom: 50px;;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}
#frontpagescroll a span:nth-of-type(3) {
  bottom: 35px;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




/*frontpage scroll*/




















/*instruction video*/
#frontpage-instruction-video {
  margin:0 auto;
  padding:0;
  width: 80%;
}

#frontpage-video-well{
background: #eee;
border-color: transparent;
}

}
#frontpage-add-to-chrome-container {
  /*margin-top: 3em*/
}
#frontpage-add-to-chrome-btn {
  margin-top: 10%;
  background-color: rgba(20, 20, 20, 1);
  border: 2.5px solid black; 
}
#teamintro img {
  float: middle;
  margin-left: 20px;
  width: 70px;
  border: 3px solid grey;
  border-radius: 50%;
  background-color: white
}
#teamintro h1, #teamintro p {
  display: inline
}
#teamintro .btn {
  border: 1px solid white;
  border-radius: 24px;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  margin-left: 0px
}
.buttoncontainer {
  width: auto;
  margin-left: 0px;
  margin-top: 7%;
  padding: 0px
}
.btn-language {
  background-color: #673ab7
}
.btn-language2 {
  background-color: #009688
}
.btn-sport {
  background-color: red
}
.btn-sport2 {
  background-color: #00bcd4
}
.btn-program {
  background-color: orange
}
.btn-music {
  background-color: green
}
.btn-carrer {
  background-color: #abb3ed
}
#secondjumbotron {
  border: 2px dotted black;
  background-image: url(http://s6.postimg.org/jnrrownlt/shufa.jpg)
}
div.jumbotron {
  margin-bottom: 0
}
div.jumbotron p {
  margin: auto;
  padding-left: 20pt
}

.col-centered{
float: none;
margin: 0 auto;
}

.links-section {
  background: #EFEFEF;
  width: 100% !important;
  text-align: center
}
.links-section h1 {
  text-align: center;
  font-weight: bold;
  margin: 2em auto;
}
.links-section ul {
  padding-left: 0px
}
.links-section ul li {
  list-style: none;
  float: left;
  height: 200px;
  display: block;
  margin-bottom: 20px
}
.links-section ul li a {
  background: #FFF;
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-top: 84px;
  font-size: 1.8em;
  text-decoration: none
}
.links-section ul li a:hover {
  text-decoration: none
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px)
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px)
}
.hvr-shutter-out-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s
}
.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out
}
.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
  color: white;
  text-decoration: none
}
.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1)
}